$aqua-blue: var(--aqua-blue);
$neon-blue: var(--neon-blue);
$deep-sky-blue: var(--deep-sky-blue);
$very-light-blue: var(--very-light-blue);
$tealish: var(--tealish);
$tealish-light: var(--tealish-light);
$dark-teal: var(--dark-teal);
$jade: var(--jade);
$charcoal-grey: var(--charcoal-grey);
$dark-grey: var(--dark-grey);
$black: var(--black);
$black-three: var(--black-three);
$white: var(--white);
$strawberry: var(--strawberry);
$rosy-pink: var(--rosy-pink);
$very-light-pink: var(--very-light-pink);
$alabaster: var(--alabaster);
$dark-peach: var(--dark-peach);

$main-theme-color: var(--tealish);